body {
    color: white;
   	text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-image: url("img/bg.jpg"), 
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%),
        linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background-blend-mode: multiply;
    height: 100vh;
}

h1 {
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
}

h2 { font-size: 1.3em; }

a {
    text-decoration: none;
    color: #e67e22;
    transition: color 0.5s;
}

a:hover { color: #fdae66; }

h3 {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2em;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 100;
    letter-spacing: 2px;
}

#answer,
#questionOne,
#questionTwo,
#questionThree,
#questionFour,
#questionFive {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 10px;
}
#answer,
#questionTwo,
#questionThree,
#questionFour,
#questionFive { display: none; }

#answer {
    border: solid pink;
    font-size: 3em;

}

img {
	width: 45%;
    transform: scale(1.03);
    transition: transform 0.3s, opacity 0.4s;
}

img:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.10);
}

p:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 60px;
    margin: 0 auto;
    margin-top: 4px;
    margin-bottom: 30px;
}