body{
	border:solid red;
	text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#questionOne,
#questionTwo,
#questionThree  {
	border:solid green;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 10px;
}

#questionTwo,
#questionThree {
    display: none;
}

img {
	border:solid yellow;
	width: 50%;
    transition: opacity 0.3s;
}

img:hover {
    cursor: pointer;
    opacity: 0.5;

}
