*, html, body {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;

}
body{
	border:solid red;
	text-align: center;

}

#questionOneImg{
	border:solid green;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 10px;
}
.slide {
	border:solid yellow;
	width: 50%;

}
